
<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">What is
                        <strong>Mari?</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <%= image_tag("MariZiggurat.jpg", width: "100%", class: "img-responsive img-border-left")%>
                </div>
                <div class="col-md-6">
                    <p>It was an ancient city in Syria until its demise in 1760 BC. Archelogists discovered a giant palace that served as a library.</p>
                    <p>Our vision of this web service is a place that will serve an a library of coworking/maker/hacker spaces nationwide, starting with select cities.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Photo Credits and Disclaimer
                    </h2>
                    <hr>
                    <p>For the Rails Rumble, we used real locations of coworking facilities in Nashville, TN, Atlanta, GA, Chicago, IL, Austin, TX, and others.</p>
                    <p>We also used Creative Commons photos depicting coworking in lieu of using copyrighted photos without permission.</p>
                    <p>Here are the credits for all Creative Commons 2.5 and 3.0 photos used in this app:</p>
                    <pre>
two_workers - https://www.flickr.com/photos/mindaugasdanys/ (Mindaugas Danys) https://www.flickr.com/photos/mindaugasdanys/5869644661
working - https://www.flickr.com/photos/mindaugasdanys/ (Mindaugas Danys) https://www.flickr.com/photos/mindaugasdanys/5870369246
whiteboard - https://www.flickr.com/photos/stevepurkiss/ (Steve Purkiss) https://www.flickr.com/photos/stevepurkiss/13976231765
whiteboard2 - https://www.flickr.com/photos/stevepurkiss/ (Steve Purkiss) https://www.flickr.com/photos/stevepurkiss/13945518656
circletable - https://www.flickr.com/photos/mindaugasdanys/ (Mindaugas Danys) https://www.flickr.com/photos/mindaugasdanys/5869798689
individual - https://www.flickr.com/photos/mindaugasdanys/ (Mindaugas Danys) https://www.flickr.com/photos/mindaugasdanys/5869797317
wall - https://www.flickr.com/photos/designfeast/ (Nate Burgos) https://www.flickr.com/photos/designfeast/7985447841
table - https://www.flickr.com/photos/mindaugasdanys/ (Mindaugas Danys) https://www.flickr.com/photos/mindaugasdanys/5870199584
empty_tables - https://www.flickr.com/photos/mikecogh/ (Michael Coghlan) https://www.flickr.com/photos/mikecogh/10431313794
bookstack - https://www.flickr.com/photos/timothykrause/ (Timothy Krause) https://www.flickr.com/photos/timothykrause/5551109175
room - https://www.flickr.com/photos/khawkins04/ (Ken Hawkins) https://www.flickr.com/photos/khawkins04/4584313084
coworking2  - https://www.flickr.com/photos/mindaugasdanys/ (Mindaugas Danys) https://www.flickr.com/photos/mindaugasdanys/5870358632
full table - https://www.flickr.com/photos/pfjk/ (Yutaka Fujiki) https://www.flickr.com/photos/pfjk/6853247178
small_room - - https://www.flickr.com/photos/pfjk/ (Yutaka Fujiki) https://www.flickr.com/photos/pfjk/6999372303
circle - https://www.flickr.com/photos/bumi/ (Michael Bumann) https://www.flickr.com/photos/bumi/4693123662
individual2- https://www.flickr.com/photos/timothykrause/ (Timothy Krause) https://www.flickr.com/photos/timothykrause/5551102945
long_table https://www.flickr.com/photos/hyku/ (Josh Hallett) https://www.flickr.com/photos/hyku/2497370097
white - https://www.flickr.com/photos/timothykrause/ (Timothy Krause) https://www.flickr.com/photos/timothykrause/5551679532
chairs - https://www.flickr.com/photos/designfeast/ (Nate Burgos) https://www.flickr.com/photos/designfeast/13146379293
coworking3 - https://www.flickr.com/photos/kinetoskop/ ( Manuel Schmalstieg) https://www.flickr.com/photos/kinetoskop/14003679348
couches - https://www.flickr.com/photos/mindaugasdanys/ (Mindaugas Danys) https://www.flickr.com/photos/mindaugasdanys/5870370996
small_table - https://www.flickr.com/photos/rabble/ (rabble) https://www.flickr.com/photos/rabble/3170143561
groupworking - https://www.flickr.com/photos/mikeschinkel/ (Mike Schinkel) https://www.flickr.com/photos/mikeschinkel/2733534094
"MariZiggurat". Licensed under Creative Commons Attribution-Share Alike 2.5 via Wikimedia Commons - http://commons.wikimedia.org/wiki/File:MariZiggurat.jpg#mediaviewer/File:MariZiggurat.jpg
"Coworking Space in Berlin" by Deskmag - Own work. Licensed under Creative Commons Attribution-Share Alike 3.0 via Wikimedia Commons - http://commons.wikimedia.org/wiki/File:Coworking_Space_in_Berlin.jpg#mediaviewer/File:Coworking_Space_in_Berlin.jpg
                    </pre>
                </div>
            </div>
                <!-- <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div> -->
        </div>

    </div>
    <!-- /.container -->
